<nav>
	<a href="/app.html">Home</a> \ <a href="articles/{{article.valie.artifact}}">{{ article.value.artifact | titleCase }}</a>
</nav>

<article>
	<h3>{{ article.value.number }} {{ getText(article.value.title) }}</h3>
	<p ng-bind-html="getText(article.value.chantBeat)"></p>
	<h4>{{getText(resources.song)}}</h4><input id="textAutoScroll" type="checkbox" checked="checked">{{getText(resources.autoScroll)}}</input>

	<!-- <div id="out" style="1px solid gray; width:200px; height:100px"></div> -->

	<p id="transcriptSrc" ng-bind-html="getText(article.value.text)"></p>

	<audio id="audioElm" src="{{ audioUrl }}" controls="">
	  <div class="videoError">HTML5 is not supported</div>
	</audio>

</article>